/*Header*/
header {
    background-color: blue;
    padding: 1px;
    padding-left: 20px;
}

header>h1, header>h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header>h4 {
    margin-top: -20px;
    margin-left: 50px;
}

/*Navigation*/
nav{
    background-color: #ADD8E6;

    padding: 8px;
    padding-left: 20px;
}

nav>a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    color: black;
}

nav>a:hover {
    color: white;
}


/*Main Content*/
main {
    height: 400px;
}

#homeContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}

/*User Feed*/
#statusFeed {
    background-color: #FFD580;
    height: 400px;
    width: 800px;
}

#feedHeading {
    background-color: #6699CC;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    padding: 4px;
    margin-top: -4px;
}

/*Login Form*/
#loginForm {
    border: solid;
    height: 120px;
    width: 240px;
}


/*Footer*/
footer{
    border-top: solid;
    font-family: Arial, Helvetica, sans-serif;

}
