/*General Content*/
h1, h4{
    font-family: Arial, Helvetica, sans-serif;
}

main>h1{
    text-align: center;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    color: blue;
}

a:hover{
    color: black;
}

/*Header*/
header {
    background-color: blue;
    padding: 1px;
    padding-left: 20px;
}

header>h1, header>h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header>h4 {
    margin-top: -20px;
    margin-left: 50px;
}

/*Navigation*/
nav{
    background-color: #ADD8E6;

    padding: 8px;
    padding-left: 20px;
    text-align: center;
}

nav>a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

    color: black;
}

nav>a:hover {
    color: white;
}


/*Main Content*/
main {
    height: 100%;
}

#homeContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    margin-top: 20px;
}

/*User Feed*/
#statusFeed {
    background-color: #FFD580;
    height: 400px;
    width: 800px;
}

#feedHeading, .boxHeading {
    background-color: #6699CC;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    padding: 4px;
    margin-top: -0px;
}

/*Standard Box*/
.standardBox {
    background-color: #FFD580;
    margin: 10px;
}
#editProfileBttn {
    text-align: center;
}

/*Login Form*/
#loginForm {
    height: 120px;
    width: 240px;
}

/*Forms*/
input{
    margin: 4px;
}

input[type=submit] {
    width: 75px;
    height: 25px;
    border-radius: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    background-image: linear-gradient(rgb(240, 236, 236), rgb(184, 184, 184));

}

input[type=submit]:hover{
    background: white;

}

#editProfile {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


/*#homeContent Flex Items*/
#loginForm, #statusFeed {
    margin: 6px; 
}

/*Footer*/
footer{
    border-top: solid;
    font-family: Arial, Helvetica, sans-serif;

    margin-top: 20px;
}


/*Modal Content for New User Registration*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /*User Profile*/
#user-profile {
    margin-left: 40px;
    margin-right: 40px;
}

  #profile-upper-left{
      display: flex;
      justify-content: flex-start;
  }

  #stats {
      margin-top: 60px;
  }
  
  #contacting-user{
      width: 340px;
      height: 100px;

      border: solid;
      border-color: #6699CC;;
  }

  #contacting-user-links{
      padding-left: 4px;
  }

  #contacting-user-links-right{
    margin-left: 200px;
    margin-top: -16px;
}

#user-url{
    border: solid;

    width: 340px;
    height: 40px;
    margin-top: 40px;
    padding: 2px;
}

#user-general-info{
      width: 340px;
      height: 100%;

      margin-top: 40px;

      border: solid;
      border-color: #6699CC;
}

#user-general-info>p {
    display: inline-block;
    margin-top: -40px;
    margin-left: 8px;
}

.general-info-heading{
    display: inline-block;
    background-color: #6699CC; 
    color: white;

    font-family: Arial, Helvetica, sans-serif;

    padding: 6px;
    width: 200px;
}

.general-info-data{
    background-color: #bad4ee; 
    padding: 6px;
    width: 40px;
}